**/__pycache__/
**.pyc
**.DS_Store
analysis.sh
stack_plots/**/*.pdf
stack_plots/**/*.png
# Removing this for outputfiles
# outputfiles/
outputfiles/*
!outputfiles/.keep

# local datasets (e.g. synced from EOS); keep placeholder
data/*
!data/.keep
**.ipynb_checkpoints
**.vscode
bdt/notebook/**/*.pt
bdt/notebook/**/*.pth
stats_study/CMSSW_*/
stats_study/datacards/CMSSW*
stats_study/CMSSW*
/ML_Application/parametrized_DNN/inference_outputs/*
finalfits/CMSSW*
version_check.py
#parametrized DNN
ML_Application/parametrized_DNN/best_pdnn.pt
ML_Application/parametrized_DNN/gate_abort_snapshot.pt
ML_Application/parametrized_DNN/GATE_ABORTED
ML_Application/parametrized_DNN/*.root

.gitattributes
stats_study/notebook_fitting/CMSSW_15_0_7/
data_driven_bkg_est/fit_mvaid*
outputs/*


# removing the CMSSW
slides_fitting/CMSSW_*